/* this override file is only necessary if there is a need to override the 
default style of OpenClass. If the default look of OpenClass is used, then
this file should simply be empty. */

/* Toolbar color stripe */
.ecollege_header_bar {
	background-color: #e84e0f;
}

/* UNCOMMENT THIS TO INCLUDE A LOGO - The logo should live in toolbar folder
#HeaderWidget .institutionLogo {
    padding-left: 30px;
}


#HeaderWidget .institutionLogo .institutionName {
    float: left;
    height: 50px;
    padding: 0;
    margin-top:0;
    max-width: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    color: #424242;
    font-size: 115%;
    text-shadow: 1px 1px 1px #ccc;
    border-right: none;
    line-height: 50px;
    */
    /* Max logo dimensions are 350 x 43 pixels - Make width match logo width */
    /*
    background: url(logo.png) no-repeat 0 7px;
    width: 275px;
    text-indent: -9999px;
}
*/

/* Overrides for Personal Home/Dashboard */
/* Tab Strip Background Color
   Note: This is the shcools "primary" color. Dark/bold colors work best here.
         The background and border colors below should always be the same */
.basecollege #listFeedTabs > .dijitTabListContainer-top > .dijitTabListWrapper,
.basecollege #profileTabs > .dijitTabListContainer-top > .dijitTabListWrapper {
    border-bottom-color: #A09B8A;
}
.basecollege #listFeedTabs > .dijitTabListContainer-top,
.basecollege #profileTabs > .dijitTabListContainer-top {
    background-color: #A09B8A;
}

/* Tab Strip Tab Text Color (Unselected Tab)
   Note: Text color should contrast the Tab Strip Background Color */
.basecollege #listFeedTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTab,
.basecollege #profileTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTab {
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
}

/* Tab Strip Tab Text Color (Selected Tab)
   Note: Text color should contrast the Tab Strip Tab Color */
.basecollege #listFeedTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTab:hover,
.basecollege #listFeedTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTabChecked,
.basecollege #profileTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTab:hover,
.basecollege #profileTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTabChecked {
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
}

/* Tab Strip Tab Color
   Note: The tab color should be a variation of the Tab Strip Background Color
         This applies only to a selected or hovered tab color. An unselected tab is 'transparent' */
.basecollege #listFeedTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTab:hover,
.basecollege #listFeedTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTabChecked,
.basecollege #profileTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTab:hover,
.basecollege #profileTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTabChecked {
	background-color: #575347;
	-webkit-box-shadow: inset 1px 1px 1px #27251e;
	-moz-box-shadow: inset 1px 1px 1px #27251e;
	box-shadow: inset 1px 1px 1px #27251e;
}

/* Profile Editor Upload Button Background and Text Color
   Note: Background color should be same as Tab Strip Background Color
         Text color should be same as Tab Strip Tab Text Color (Unselected Tab) */
.basecollege .formButton {
    background-color: #195AA6;
    color: #ffffff;
}

/* Profile Editor Submit Button Background and Text Color
   Note: Should resemble a lighter variation on the Profile Editor Upload Button colors */
.basecollege .submitBttn {
    background-color: #D7E8F7;
    border-color: #CCDBE8;
    color: #666;
}

/* Hyperlinks 
   Note: Anchor color should be the same as Tab Strip Background Color
         Hover color can be whatever variation makes sense */
.basecollege a {
    color: #195AA6;
}
.basecollege a:hover {
    color:#e84e0f;
}

/* People Search Background
    Note: This should be a lighter color of the main tab stripe */
.feedFilteringContainer {
background: none repeat scroll 0 0 #E1DDCD;
}

/* end overrides for dashboard */

/* Overrides for Course area */

/* Color for main header bar */
#header {
    background-color: #A09B8A;
    border: 1px solid #A09B8A;
}

/* Color for type in main header bar */
#header h1.coursetitle {
    color: #EFEBDE;
}

/* Color for settings widget in header bar. Must have enough contrast to show icon. */
#courseSettingsMenu {
    background-color: #B8A48B;
    border-left: 1px solid #525252;
}

/* Color for left and right modify menus */
#navcontainer .moduletitlebar,
#contentcontainer #optionsMenu {
    background: none;
    background-color: #e84e0f;
    border-color: #e84e0f;
}

/* Color for type in left and right modify menus. Must have enough contrast from background color. */
#navcontainer .modifymenu a,
#navcontainer .modifymenu a:link, 
#navcontainer .modifymenu a:hover,
#navcontainer .modifymenu a:visited,
.ecollege #optionsMenu .dijitDropDownButton .dijitButtonNode .dijitButtonText,
.ecollege #optionsMenu .dijitDropDownButtonHover .dijitButtonNode .dijitButtonText {
    color: #EFEBDE;
}

/* Border color for pop up dialog boxes */
.ecollege .dijitDialog,
.ecollege div.popup .inner {
    border-color: #F26522;
}

/* Header bar and text color for pop up dialog boxes. */
.ecollege .dijitDialogTitleBar,
.ecollege div.popup .inner h3 {
    background-color: #e84e0f;
    color: #fff; /* text color */
}

/* Color for type in tabs of modify window */
.ecollege .dijitTabChecked .dijitTabInnerDiv .dijitTabContent, 
.ecollege .dijitTabHover .dijitTabInnerDiv .dijitTabContent {
     color: #195AA6;
     padding: 10px;
}

/* SOCIAL COURSE HOME */
/* Social Course Home Tab Strip Background Color */
.jupiter .cCleftColumn a,
.jupiter#jupiter .cCleftColumn a,
.jupiter .cCRightColumn a,
.jupiter#jupiter .cCRightColumn a {
    color: #195AA6;
}

.jupiter .cCleftColumn a:hover,
.jupiter#jupiter .cCleftColumn a:hover,
.jupiter .cCRightColumn a:hover,
.jupiter#jupiter .cCRightColumn a:hover {
    color: #e84e0f;
}

.jupiter .feedContainerCourse > .dijitTabContainer > .dijitTabContainerTop-tabs, 
.jupiter#jupiter .feedContainerCourse > .dijitTabContainer > .dijitTabContainerTop-tabs  {
    background-color: #A09B8A;
}

/* Social Course Home Tab Pill On State & Hover State Background color */
.jupiter .feedContainerCourse > .dijitTabContainer > .dijitTabContainerTop-tabs > .dijitTabChecked,
.jupiter .feedContainerCourse > .dijitTabContainer > .dijitTabContainerTop-tabs > .dijitTab:hover,
.jupiter#jupiter .feedContainerCourse > .dijitTabContainer > .dijitTabContainerTop-tabs > .dijitTabChecked,
.jupiter#jupiter .feedContainerCourse > .dijitTabContainer > .dijitTabContainerTop-tabs > .dijitTab:hover {
    background-color: #575347 !important;
    -webkit-box-shadow: inset 1px 1px 1px #27251e;
    -moz-box-shadow: inset 1px 1px 1px #27251e;
    box-shadow: inset 1px 1px 1px #27251e !important;
}

/* Social Course Home Selected & Hover Tab Text */
.jupiter .feedContainerCourse > .dijitTabContainer#listFeedTabs > .dijitTabContainerTop-tabs > .dijitTabChecked > .dijitTabInnerDiv > .dijitTabContent .tabLabel,
.jupiter .feedContainerCourse > .dijitTabContainer#listFeedTabs > .dijitTabContainerTop-tabs > .dijitTab:hover > .dijitTabInnerDiv > .dijitTabContent  .tabLabel,
.jupiter#jupiter .feedContainerCourse > .dijitTabContainer#listFeedTabs > .dijitTabContainerTop-tabs > .dijitTabChecked > .dijitTabInnerDiv > .dijitTabContent .tabLabel,
.jupiter#jupiter .feedContainerCourse > .dijitTabContainer#listFeedTabs > .dijitTabContainerTop-tabs > .dijitTab:hover > .dijitTabInnerDiv > .dijitTabContent  .tabLabel {
    color: #fff;
    text-shadow: 1px 1px 0px #000000;
}

/* Social Course Home Unselected Tab Text */
.jupiter .feedContainerCourse > .dijitTabContainer > .dijitTabContainerTop-tabs > .dijitTab > .dijitTabInnerDiv > .dijitTabContent > div > .tabLabel,
.jupiter#jupiter .feedContainerCourse > .dijitTabContainer > .dijitTabContainerTop-tabs > .dijitTab > .dijitTabInnerDiv > .dijitTabContent > div > .tabLabel,
.jupiter .feedContainerCourse > .dijitTabContainer .feedFilteringRight > label,
.jupiter#jupiter .feedContainerCourse > .dijitTabContainer .feedFilteringRight > label {
    color: #fff;
    text-shadow: 1px 1px 0px #000000;
}

/* Share button on Social Course Home */
.jupiter .dijitContentPane .makeRemark .dijitButton,
.jupiter#jupiter .dijitContentPane .makeRemark .dijitButton,
.jupiter .dijitContentPane .makeRemark .dijitButtonActive,
.jupiter#jupiter .dijitContentPane .makeRemark .dijitButtonActive,
.nihilo .jupiter .makeRemark .dijitButtonHover .dijitButtonNode, 
.nihilo .jupiter#jupiter .makeRemark .dijitButtonHover .dijitButtonNode {
    background: #195AA6;
    border: none;
    color: #fff;
}
    
/* Announcements Tab On State */
.jupiter .skinnyContentBox .dijitTab:hover,
.jupiter .skinnyContentBox .dijitTabChecked,
.jupiter#jupiter .skinnyContentBox .dijitTab:hover,
.jupiter#jupiter .skinnyContentBox .dijitTabChecked {
    background-color: #0382E5 !important;
    -webkit-box-shadow: inset 1px 1px 1px #3177AD;
    -moz-box-shadow: inset 1px 1px 1px #3177AD;
    box-shadow: inset 1px 1px 1px #3177AD;
}

/* Secondary Tabs on Profile Page - Typically you don't have to change this color */
.jupiter .profileContainer > .dijitTabContainer > div > .dijitTabChecked,
.jupiter .profileContainer > .dijitTabContainer > div > .dijitTab:hover
.jupiter#jupiter .profileContainer > .dijitTabContainer > div > .dijitTabChecked,
.jupiter#jupiter .profileContainer > .dijitTabContainer > div > .dijitTab:hover {
    background: #fff  !important;
    border: 1px solid #ccc !important;
    border-bottom: none !important;
}


/* COLOR STYLES FOR ASSESSMENTS - TEMPORARY */
/* Color for pills under Assessment Author */
/* Color for the bar housing the pills under Assessment Author */
.assessments .slideTab .slideStackController {
    background-color: #A09B8A !important;
}

/* Color for the arrow under the bar housing the pills under Assessment Author */
.assessments .slideTab .dangly {
    border-color: #A09B8A transparent transparent !important;
}

.assessments .slideTab .dijitFocused .dijitButtonText, 
.assessments .slideTab .slideStackController .dijitButtonText:hover,
.assessments .slideTab .slideStackController .dijitChecked .dijitButtonText {
    color: #fff !important;
    text-shadow: 1px 1px 0px #000000 !important;
	background-color: #575347;
	-webkit-box-shadow: inset 1px 1px 1px #27251e;
	-moz-box-shadow: inset 1px 1px 1px #27251e;
	box-shadow: inset 1px 1px 1px #27251e;
}

/* Color for close link next to pills under Assessment Author */
.assessments .slideTab .sortArrow {
    color: #fff !important;
}

/* Color for the text of the pills under Assessment Author */
.assessments .slideTab .slideStackController .dijitButtonText {
    color: #FFF !important;
    text-shadow: 1px 1px 0px #000000 !important;  
}

/* Color for modal windows */
.assessments .dijitDialogTitleBar {
    background-color: #e84e0f !important;
    border-color: #e84e0f !important;
}

.assessments .editQuestionControls {
    border-color: #e84e0f !important;
    border-top: 1px solid #999 !important;
}

.assessments .editQuestionContainer {
border-left: 1px solid #e84e0f !important;
border-right: 1px solid #e84e0f !important;
}

/* end course overrides */

/* admin area overrides */

/* Admin/Account Tab Area - Main Color */
.admin .dijitTabContainerTop-tabs,
.admin .dijitTabContainerTop-tabs,
.claro .dijitDialogTitleBar {
    border-top-color: #A09B8A;
    background-color: #A09B8A;
}

.admin .dijitDialog {
    border-color: #A09B8A;
}

/* Admin/Account inactive tab font color */
.admin .dijitTabContainerTop-tabs .dijitTab .tabLabel,
.basecollege .dijitDialogTitle {
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
}

/* Admin/Account active tab font color, background color (a lighter shade of the main color) and inset shadow color */
.admin .dijitTabContainerTop-tabs .dijitTabChecked .tabLabel,
.admin .dijitTabContainerTop-tabs .dijitTabChecked.dijitTabHover .tabLabel,
.admin .dijitTabContainerTop-tabs .dijitTabHover .tabLabel,
.admin .dijitTabContainerTop-tabs .dijitTabActive .tabLabel {
    color: #fff !important;
    text-shadow: 1px 1px 0px #000000;  
	background-color: #575347;
	-webkit-box-shadow: inset 1px 1px 1px #27251e;
	-moz-box-shadow: inset 1px 1px 1px #27251e;
	box-shadow: inset 1px 1px 1px #27251e;
}

/* Admin Advanced Search Background */
/* This should be a light color. Only change if it really clashes with the school color */
.admin .courseSearch .advancedSearchContainer {
    background-color: #BDE2FF;
}

/* end admin area overrides */