body, td, th   {
	font: 85% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

input, select {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a {
	color: #1f77b4;TEXT-DECORATION:none;
} 

a:hover {
	TEXT-DECORATION:underline;
}