/* Toolbar color stripe */
.ecollege_header_bar {
	background-color: #e84e0f;
}

/* UNCOMMENT THIS TO INCLUDE A LOGO - The logo should live in toolbar folder
#HeaderWidget .institutionLogo {
    padding-left: 30px;
}


#HeaderWidget .institutionLogo .institutionName {
    float: left;
    height: 50px;
    padding: 0;
    margin-top:0;
    max-width: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    color: #424242;
    font-size: 115%;
    text-shadow: 1px 1px 1px #ccc;
    border-right: none;
    line-height: 50px;
    */
    /* Max logo dimensions are 350 x 43 pixels - Make width match logo width */
    /*
    background: url(logo.png) no-repeat 0 7px;
    width: 275px;
    text-indent: -9999px;
}
*/