.openclass .dijitContentPane{padding:8px;}
.openclass .dijitTabContainerTop-dijitContentPane,.openclass .dijitTabContainerLeft-dijitContentPane,.openclass .dijitTabContainerBottom-dijitContentPane,.openclass .dijitTabContainerRight-dijitContentPane,.openclass .dijitAccordionContainer-dijitContentPane{background-color:#ffffff;padding:8px;}
.openclass .dijitSplitContainer-dijitContentPane,.openclass .dijitBorderContainer-dijitContentPane{background-color:#ffffff;padding:8px;}
