/* COLOR */
/**********************************************************************/

/* APP OVERRIDE - DASHBOARD */
/* Dashboard */

/* Tab Strip Background Color
   Note: This is the shcools "primary" color. Dark/bold colors work best here.
         The background and border colors below should always be the same */
.basecollege #listFeedTabs > .dijitTabListContainer-top > .dijitTabListWrapper,
.basecollege #profileTabs > .dijitTabListContainer-top > .dijitTabListWrapper {
    border-bottom-color: #A09B8A;
}
.basecollege #listFeedTabs > .dijitTabListContainer-top,
.basecollege #profileTabs > .dijitTabListContainer-top {
    background-color: #A09B8A;
}

/* Tab Strip Tab Text Color (Unselected Tab)
   Note: Text color should contrast the Tab Strip Background Color */
.basecollege #listFeedTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTab,
.basecollege #profileTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTab {
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
}

/* Tab Strip Tab Text Color (Selected Tab)
   Note: Text color should contrast the Tab Strip Tab Color */
.basecollege #listFeedTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTab:hover,
.basecollege #listFeedTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTabChecked,
.basecollege #profileTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTab:hover,
.basecollege #profileTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTabChecked {
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
}

/* Tab Strip Tab Color (Selected Tab)
   Note: The tab color should be a variation of the Tab Strip Background Color
         This applies only to a selected or hovered tab color. An unselected tab is 'transparent' */
.basecollege #listFeedTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTab:hover,
.basecollege #listFeedTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTabChecked,
.basecollege #profileTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTab:hover,
.basecollege #profileTabs > .dijitTabListContainer-top > .dijitTabListWrapper > .dijitTabContainerTop-tabs > .dijitTabChecked {
  color: #ffffff;
  background-color: #575347;
  -webkit-box-shadow: inset 1px 1px 1px #27251e;
  -moz-box-shadow: inset 1px 1px 1px #27251e;
  box-shadow: inset 1px 1px 1px #27251e;
}


/* People Search Background
    Note: This should be a lighter color of the main tab stripe */
.basecollege div.feedFilteringContainer {
background: none repeat scroll 0 0 #E1DDCD;
}














/* STRUCTURE */
/**********************************************************************/

/* PROFILE */
.basecollege .profileEdit {
  font-size: 110%;
}

.basecollege .profileEdit .dijitTextArea[cols] {
  width: 500px;
}

.basecollege .profileEditContainer .formButton,
.basecollege .barSubmit .submitBttn {
background-color: #195AA6 !important;
color: #fff;
border: none;
min-width: 90px;
}

.basecollege .profileAboutMe .sectionLeft table td {
padding: 5px;
background: #fff;
border: 1px solid #ddd; 
}

.basecollege .dijitMenu {
border: 1px solid #ccc;
font-size: 90%;
padding: 0 4px;  
}

.basecollege .profileAboutMe .sectionLeft .formRow .dijitInline {
margin-top: 5px;
font-size: 16px;
}

/* Activity Feed Clear Floats Height Change */
.basecollege .activityFeedWidgetWrapper .clearAllFloats {
  height: 0px;
}

/* Modal fixes for create course and edit course */
/* Modal Window */
.dijitDialogUnderlay {
    background: none repeat scroll 0 0 #000000;
    opacity: 0.75;
}
 
.openclass.dijitDialog {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #D3D3D3;
    padding: 0;
}

.openclass .dijitDialogTitleBar {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: none;
    background-repeat: none;
    border-color: none;
    border-right:none;
    border-style: none;
    border-width: none;
    padding: 10px;
    border-top-color: #A09B8A;
    background-color: #A09B8A;
}

.basecollege .dijitDialogTitle {
    font-weight: bold;
    text-shadow: none;
    color: #fff;
}

.openclass .dijitDialogCloseIcon {
    background: url("images/closeModal.png") no-repeat scroll 0 0 transparent;
    height: 15px;
    position: absolute;
    top: 6px;
    right: 5px;
    width: 22px;
    height: 22px;
}

.openclass.dijitDialog {
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border: 1px solid #fff;
}

.openclass .dijitTabContainerTop-tabs .dijitTabInnerDiv {
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 3px 5px 0 !important;
}

.openclass .formRow {
    line-height: 1em;
    padding: 0;
}

.openclass .formLeft {
	padding-top: 5px;
}

.openclass .dialogButtons {
    font-size: 0.8em;
    padding-top: 0;
}

.basecollege .basecollege {
	min-width: 100px;
}

.openclass .sitepenValidationTextBox .dijitTextBox, .openclass .adminDateBox .dijitInputInner {
    font-size: 0.8em;
}

.dijitCalendarPopup.openclass {
    font-size: .8em;
    line-height: .9em;
}

.openclass .adminSearchHub {
    font-size: .8em;
    line-height: 1.4em;
}